# Базовые инструменты
pandas==1.5.3
python-dotenv==0.21.1

# Работа с базами данных
sqlalchemy==1.4.46
psycopg2-binary==2.9.5
pyodbc==4.0.32

# Автоматизация
schedule==1.1.0
pyautogui==0.9.53
pywin32==304

# Работа с файлами
openpyxl==3.0.10
pandas-excel==0.0.9
pdfplumber==0.5.28

# Веб-автоматизация
selenium==4.8.0
beautifulsoup4==4.11.1
requests==2.28.1

# Индикаторы прогресса
tqdm==4.64.1
